#about {
  background-color: rgb(27, 27, 27);
  height: auto;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .title {
    h1 {
      color: #fff;
    }
  }

  .subtitle {
    h2 {
      color: #808b8d;
    }
    p {
      color: #808b8d;
    }
  }

  .our-team {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 0 10px;

    flex: 1;

    .team_item {
      //   background-color: #fff;
      height: 100%;
      text-align: center;

      .img_team_person {
        flex: 1;
        width: auto;

        position: relative;

        img {
          border: 3px solid var(--color);
          transition: all 0.4s;
        }

        .social {
          position: absolute;
          top: 40%;
          left: 43%;

          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          transition: all 0.4s;

          i {
            color: var(--color);
            transition: all 0.4s;
            transform: scale(1.2);
          }

          div {
            position: relative;
            transition: all 0.4s;
            opacity: 0;
            background-color: #fff;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              i {
                filter: brightness(60%);
              }
            }
          }

          div:nth-child(1) {
            transform: translateY(-140%);
          }

          div:nth-child(2) {
            transform: translateX(140%);
          }

          div:nth-child(3) {
            transform: translateX(-140%);
          }

          div:nth-child(4) {
            transform: translateY(140%);
          }
        }

        &:hover {
          img {
            filter: brightness(30%);
          }

          .social {
            div {
              transform: translateX(0%) translateY(0%);
              opacity: 1;
              cursor: pointer;
            }
          }
        }
      }

      .description_item_person {
        margin-top: 1rem;

        .name {
          font-size: 1.5rem;
          color: #fff;
          font-weight: bold;
        }

        .ocupation {
          margin-top: 6px;
          font-size: 1rem;
          color: var(--color);
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  #about {
    background-color: rgb(27, 27, 27);
    height: auto;

    .our-team {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 0 10px;

      flex: 1;

      .team_item {
        //   background-color: #fff;
        height: 100%;
        text-align: center;

        .img_team_person {
          flex: 1;
          width: auto;

          position: relative;

          img {
            border: 3px solid var(--color);
            transition: all 0.4s;
          }

          .social {
            position: absolute;
            top: 40%;
            left: 43%;

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            transition: all 0.4s;

            i {
              color: var(--color);
              transition: all 0.4s;
              transform: scale(1.2);
            }

            div {
              position: relative;
              transition: all 0.4s;
              opacity: 0;
              background-color: #fff;

              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                i {
                  filter: brightness(60%);
                }
              }
            }

            div:nth-child(1) {
              transform: translateY(-140%);
            }

            div:nth-child(2) {
              transform: translateX(140%);
            }

            div:nth-child(3) {
              transform: translateX(-140%);
            }

            div:nth-child(4) {
              transform: translateY(140%);
            }
          }

          &:hover {
            img {
              filter: brightness(30%);
            }

            .social {
              div {
                transform: translateX(0%) translateY(0%);
                opacity: 1;
                cursor: pointer;
              }
            }
          }
        }

        .description_item_person {
          margin-top: 1rem;

          .name {
            font-size: 1.5rem;
            color: #fff;
            font-weight: bold;
          }

          .ocupation {
            margin-top: 6px;
            font-size: 1rem;
            color: var(--color);
          }
        }
      }
    }
  }
}
